<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        
        <div class="header-fields">
<!--            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>-->
            <div class="grid grid-3col">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                <div class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </div>
                <div class="resource">
                    <p>Class</p>
                </div>
                <div class="source">
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="Source" />
                </div>
            </div>
            
<!--            <div class="grid grid-2col">-->
<!--                <div class="resource">-->
<!--                    <label class="resource-label">Quantity</label>-->
<!--                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>-->
<!--                </div>-->
<!--                <div class="resource">-->
<!--                    <label class="resource-label">Weight</label>-->
<!--                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            {{!-- Class Levels --}}
            <div class="form-group">
                <label>{{ localize "CNC.ClassLevels" }}</label>
                <div class="form-fields">
                    <input type="text" name="data.levels" value="{{data.levels}}" data-dtype="Number"/>
                </div>
            </div>

            {{!-- Class Hit Dice --}}
            <div class="form-group">
                <label>{{localize "CNC.HitDice"}}</label>
                <div class="form-fields">
                    <select name="data.hitDice">
                        {{#select data.hitDice}}
                            {{#each config.hitDieTypes}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "CNC.HitDiceUsed"}}</label>
                <div class="form-fields">
                    <input type="text" placeholder="0" name="data.hitDiceUsed" value="{{data.hitDiceUsed}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </section>
</form>
